@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fullcalendar/core/index.css';
@import '@fullcalendar/daygrid/index.css';

body{
    font-family: 'Poppins', sans-serif;
}

[type='text']:focus, [type='email']:focus,
[type='url']:focus, [type='password']:focus,
[type='number']:focus, [type='date']:focus,
[type='datetime-local']:focus, [type='month']:focus,
[type='search']:focus, [type='tel']:focus,
[type='time']:focus, [type='week']:focus,
[multiple]:focus, textarea:focus, select:focus {
    box-shadow: none !important;
    border-color: transparent !important;
}